{% extends 'base.html.twig' %}

{% block title %}Hello PdtController!{% endblock %}

{% block body %}
    <section id="main">
        <div class="container">
            <a href="{{ path('produit_nouveau') }}" class="btn btn-light btn-lg mt-5">Nouveau produit</a>
            <a href="{{ path('categorie_nouveau') }}" class="btn btn-outline-light btn-lg mt-5">Nouvelle catégorie</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-lg mt-5 float-right">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg mt-5 float-right">Connexion</a>
            {% endif %}
            <table class="table table-striped mt-5 bg-white">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.categorie.nom }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.description }}</td>
                        <td><a href="{{ path('produit_edit', {'id': produit.id}) }}">Modification</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
